
server:
  port: 9982

spring:
  datasource:
    url: jdbc:mysql://10.162.33.202/lz_wsd_data?charset=UTF-8&locale=en_US.UTF-8&timezone=UTC-8
    username: root
    password: ontoweb
    driver-class-name: com.mysql.cj.jdbc.Driver

  kafka:
    producer:
      bootstrap-server: 10.162.33.202:9092
      retries: 3
      batch-size: 16384  # 批量上限，超出发送
      buffer-memory: 33554432
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      linger-ms: 10000  # 超时发送
    consumer:
      bootstrap-server: 10.162.33.202:9092
      group-id: test
      auto-offset-reset: earliest
      enable-auto-commit: true
      auto-commit-interval: 1000  # 自动提交已消费offset时间间隔（配置enable-auto-commit=true时使用）
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      max-poll-records: 10000  # 批量消费消息数量上限
    topics:
      org-topic: lz_wsd_data
      tar-topic: wg_zw_fgs

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: flag  # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
      id-type: ASSIGN_ID
  configuration:
    call-setters-on-nulls: true
  mapper-locations: classpath:mapper/*.xml


producer:
  simulation: true